<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>395773363693-j9crj02hd8ohigamc496kmn9rchvisg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395773363693-j9crj02hd8ohigamc496kmn9rchvisg8</string>
	<key>API_KEY</key>
	<string>AIzaSyBGnnKj8u4cRZFQ9x54Fem5cwv2gBUkS6w</string>
	<key>GCM_SENDER_ID</key>
	<string>395773363693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsirlucas.PayIt</string>
	<key>PROJECT_ID</key>
	<string>payit-database</string>
	<key>STORAGE_BUCKET</key>
	<string>payit-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395773363693:ios:bfda90c37f0885b9</string>
	<key>DATABASE_URL</key>
	<string>https://payit-database.firebaseio.com</string>
</dict>
</plist>
